---
import Layout from "../layouts/Layout.astro"
import "@/styles/globals.css"
import RepositoryTable from "@/components/RepositoryTable"
---

<Layout>
  <main className="container mx-auto py-10">
    <h1
      className="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl mb-8"
    >
      Repository Security Overview
    </h1>
    <div className="rounded-md border bg-card">
      <RepositoryTable client:load />
    </div>
  </main>
</Layout>
