---
import RepositoryTable from "@/components/RepositoryTable"
import "@/styles/globals.css"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <main class="container mx-auto py-10">
    <h1
      class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl mb-8"
    >
      Repository Overview
    </h1>
    <div class="rounded-md border bg-card">
      <RepositoryTable client:load />
    </div>
  </main>
</Layout>
